<title>Proustian Questions</title>
<body>
<body bgcolor="black">
<font face="helvetica">
<font color="white">
<style>
/*p{
	margin-top:0; 
	margin-right:auto;
	margin-bottom:0;
	margin-left:auto; 
}*/
</style>
<center>
<p>
<img src="https://pbs.twimg.com/media/B4jGZf7IgAAP2mn.jpg" style="left;width:200px"; />
<%= button_to "Misery", pages_misery_path,  :class => "button", :method => :get  %><br>
<img src="https://pbs.twimg.com/media/B4koHZbIgAAhd0G.png:large" style="right;width:200px" />
<%= button_to "Happiness", pages_happiness_path,  :class => "button", :method => :get  %><br>
<img src="https://pbs.twimg.com/media/B4koDY6IIAAF7ZK.png:large" style="center;width:200px" />
<%= button_to "Heaven", pages_heaven_path,  :class => "button", :method => :get  %><br>
<img src="https://pbs.twimg.com/media/B4koPTZIAAAWOBC.png:large" style="center;width:200px" />
<%= button_to "Noise", pages_sound_path,  :class => "button", :method => :get  %><br>
<img src="https://pbs.twimg.com/media/B4koMKPIQAAYURj.png:large" style="right;width:200px" /><%= button_to "Taste", pages_taste_path,  :class => "button", :method => :get  %><br>
<img src="https://pbs.twimg.com/media/B4koSqJIEAAKov1.png:large" style="center;width:200px" />
<%= button_to "Words", pages_words_path,  :class => "button", :method => :get  %><br>
</p>
</center>

</style>
</body>
<footer>
<%= button_to "Home", pages_about_path,  :class => "button", :method => :get  %><br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Feelings </span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Gina Sipley</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License &copy; Sipley 2014, <a href="https://twitter.com/gsipley">@GSipley</a></a>
    <p></a></p>
</footer>
<!-- <h1>Pages#proust</h1> -->
<!-- <p>Find me in app/views/pages/proust.html.erb</p> -->


